@page
@model Restrunant.Pages.Categoties.IndexModel
@{
}
<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4 d-flex justify-content-between">
        <div class="col-6">
            <h2 class="text-body">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary "> <i class="bi bi-clipboard-plus-fill"></i> Create New category</a>
        </div>
    </div>
    <br /><br />
    
    <table class="table table-bordered  text-center " >
        <thead >
            <tr>
                <th> ID</th>
              
               <th>
                    Category Name
               </th>
               <th>
                   Display Order
               </th>
                <th> <i class="bi bi-gear-wide-connected"></i> Action</th>
            </tr>

        </thead>
        <tbody  >
            @foreach (var i in Model.Categoties)
            {


                <tr>
                    <th><i class="bi bi-bookmark-star-fill"></i> @i.Id</th>
                   
                <td>
                    @i.Name
                </td>
                <td>
                    @i.DisplayOrder
                </td>
                <td>
                    
                        <a asp-page="Edit" asp-route-id="@i.Id"  class="btn btn-outline-warning"><i class="bi bi-vector-pen"></i></a>
                        <a asp-page="Delete" asp-route-id="@i.Id"  class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></a>
                       
            </tr>
            }
        </tbody>

    </table>
   

</div>

